*{
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,html{
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
a{
    text-decoration: none;
}
/*导航栏*/
.navbar{
    background-color: rgb(64, 64, 58);
    width: 100%;
    height: 47px;
}
.contion{
    margin: auto;
    width: 80%;
}
.box{
    width: 50%;
    float: left;
}

.login{
    float: right;
}
.login>li{
    font-size: 14px;
    line-height: 47px;
    margin: 0 14px;
    position: relative;
    right: 0;
    float: left;
}
.log{
    font-family: myfont;
    text-decoration: none;
    font-size: 29px;
    color: white;
    line-height: 47px;
}
@font-face {
    font-family: myfont;
    src: url("../fonts/font.ttf");
}
.login>li>a{
    text-decoration: none;
    color: #ff7f00;
    display: block;
}
.login>li>span{
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.login>.hui>a{
    color: gray;
}
.login>li:hover span{
    width: 100%;
}
/*巨幕*/
.section{
    width: 100%;
    height: 900px;
}
.span-1{
    background: url("../images/ho.jpg") 0;
    background-size: cover;
    height: 900px;
}
#bgk-2{
    background: url("../images/1baa42452320f5d4eb2f5e1f22cacebb.png");
    z-index: 0;
    background-size: cover;
    -webkit-animation: mybgk 100s linear infinite;
    -o-animation: mybgk 100s linear infinite;
    animation: mybgk 100s linear infinite;
    position: absolute;
    top: 6%;
    width: 100%;
    height: 100%;
}
@keyframes mybgk {
    from{
        background-position: 0 0;
    }
    to{
        background-position:600%;
    }
}
@-o-keyframes mybgk {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 600%;
    }
}
@-moz-keyframes mybgk {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 600%;
    }
}
@-ms-keyframes mybgk {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 600%;
    }
}
@-webkit-keyframes mybgk {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 600%;
    }
}
.di{
    width: 11%;
    text-align: center;
    z-index: 2;
    position: fixed;
    top:11%;
    float: left;
}
.di>.img>img{
    width: 200px;
}
.menu{
    width: 187px;
    padding-left: 41px;
}
.menu>li{
    width: 84%;
    line-height: 60px;
}
.di>.menu>li>a{
    font-weight: bold;
    color: white;
    transition: all 0.5s;
}
.di>.menu>li>a>img{
    width: 31px;
    vertical-align: middle;
}
.di>.menu>li>a:hover{
    color: red;
}

.di-1{
    position: relative;
    bottom: 25%;
    width: 100%;
}
.di-1 img{
    width: 100%;
}
.di-1>.hone{
    float: left;
    position: relative;
    left: 17%;
    overflow: hidden;
    width: 20%;
    margin: 0 24px;
}
.di-1>.hone>a>.hone-1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(138, 0, 0, 0.18);
    opacity: 0;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 0.8s;
    text-align: center;
}
.di-1>.hone>a>.hone-1>img{
    width: 30px;
    position: relative;
    top: 50%;
    vertical-align:super;
}
.di-1>.hone>a>.hone-1>span{
    position: relative;
    top: 43%;
    color: white;
}
.hone:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.di-1>.hone:hover .hone-1{
    opacity: 1;
}
/*游戏资讯*/
.back{
    background: url("../images/ho-2.jpg")no-repeat fixed;
    width: 100%;
    height: 900px;
    background-size: cover;
}
h1,h2,h3,h4{
    color: white;
    text-align: center;
}
h1{
    font-family: mycc;
}
@font-face{
    font-family: mycc;
    src: url("../fonts/font.ttf");
}
#zix{
    position: absolute;
    width: 100%;
}
.dda{
    position: absolute;
    bottom: 0;
    transition: all 2s ease-in-out;
}
.box-1{
    width: 47%;
    float: left;
}
.leff{
    float: right;
    width: 302px;
    color: white;
}
.leff>img{
    width: 300px;
    cursor: pointer;
}
.leff>span{
    color: white;
    display: block;
}
.leff>p{
    letter-spacing: -1px;
    margin-bottom: 50px;
}
.leff>b{
    text-align: center;
    display: block;
    font-size: 26px;
    margin-bottom: 15px;
}
.leff>.cha{
    text-align: center;
}
.leff>.cha>a{
    display: block;
    width: 150px;
    height: 50px;
    margin: auto;
    line-height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: deepskyblue;
    color: white;
    font-weight: bold;
}
.leff>.cha>a:hover{
    -webkit-animation: myaa 100s linear infinite;
    -o-animation: myaa 100s linear infinite;
    animation: myaa 3s linear infinite;
}
@keyframes myaa {
    0%{
        background: deepskyblue;
    }
    20%{
        background: aqua;
    }
    50%{
        background: burlywood;
    }
    100%{
        background: deepskyblue;
    }
}
@-webkit-keyframes myaa {
    0%{
        background: deepskyblue;
    }
    20%{
        background: aqua;
    }
    50%{
        background: burlywood;
    }
    100%{
        background: deepskyblue;
    }
}
@-moz-keyframes myaa {
    0%{
        background: deepskyblue;
    }
    20%{
        background: aqua;
    }
    50%{
        background: burlywood;
    }
    100%{
        background: deepskyblue;
    }
}
@-o-keyframes myaa {
    0%{
        background: deepskyblue;
    }
    20%{
        background: aqua;
    }
    50%{
        background: burlywood;
    }
    100%{
        background: deepskyblue;
    }
}
.right{
    float: right;
}
.right>.leff-1{
    float: left;
}
/*游戏介绍*/
.center{
    background: url("../images/ho-3.jpg")no-repeat fixed;
    width: 100%;
    height: 900px;
    background-size: cover;
    position: relative;
}
.bak-1{
    background: url("../images/foreground.png");
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: myfor 100s linear infinite;
    -o-animation: myfor 100s linear infinite;
    animation: myfor 100s linear infinite;
}
@keyframes myfor {
    from{
        background-position: 0;
    }
    to{
        background-position: 600%;
    }
}
@-o-keyframes myfor {
    from{
        background-position: 0;
    }
    to{
        background-position: 600%;
    }
}
@-moz-keyframes myfor {
    from{
        background-position: 0;
    }
    to{
        background-position: 600%;
    }
}
@-webkit-keyframes myfor {
    from{
        background-position: 0;
    }
    to{
        background-position: 600%;
    }
}
.cen{
    margin: auto;
    width: 760px;
    z-index: 1;
    position: relative;
    top: 20%;
}
.txt{
    float: left;
    width: 54%;
}
.ttx{
    float: left;
    width: 46%;
}
.txt h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.txt p{
    margin-bottom: 20px;
    color: white;
    letter-spacing: 5px;
}
.txt .gold{
    color: #2effff;
}
.ttx img{
    width: 406px;
    margin-bottom: 44px;
}
/*游戏战役*/
.ho-10{
    background: url("../images/ho-10.jpg")no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 900px;
    position: relative;
}
.ho-10 #zhan{
    margin-bottom: 57px;
}
.ho-10 .yi{
    background: rgba(255, 172, 0, 0.5);
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 3;
    overflow: auto;
    height: 595px;
}
.yi::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
.yi::-webkit-scrollbar-thumb{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ff008d59;
}
.ho-10 .yi h1{
    color: black;
    margin-bottom: 30px;
}
.yi .gold{
    color: #000;
}
.yi p{
    margin-bottom: 11px;
    padding-bottom: 17px;
}
/*游戏阵营*/
.ho-11{
    background: url("../images/fh_hero-callout-bg_ncsa.png")no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 900px;
}
.menu-1{
    text-align: center;
}
#menu-1{
    width: 29%;
}
.menu-1 #qie{
    float: left;
    position: relative;
    left: 18%;
}
.menu-1 #qie li{
    background: black;
    border: 2px solid white;
}
.menu-1 #qie li a img{
    width: 100px;
    height: 126px;
}
.menu-1 #qie li a span{
    display: block;
    background: #ff0bf7;
    color: white;
}
/*游戏视觉*/
.ho-12{
    background: url("../images/bg6.jpg ")no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 900px;
}
#jue{
    margin-bottom: 6%;
}
.mar{
    width: 242px;
    margin: auto;
    padding-bottom: 40px;
}
#oul li{
    float: left;
    width: 50%;
    text-align: center;
}
#oul li:nth-child(1){
    border-right: 1px solid #000000;
}
#oul li a{
    color: #732e2e;
}
#oul li a:focus{
    color: black;
}
.mar-1{
    width: 868px;
    margin: auto;
    text-align: center;
}
#shi{
    width: 100%;
}
#shi-1 li{
    float: left;
    margin: 0 37px;
}
#shi-1 li a img{
    width: 142px;
}
#div2{
    display: none;
}
#div2 img{
    width: 200px;
    border: 2px solid #868686;
    margin: 0 17px 25px;
    height: 115px;
}
/*footer*/
.footer{
    background-color: #000;
    width: 100%;
    color: #999999;
    text-align: center;
    padding: 30px 0;
}
.wsd{
    padding: 40px 0 20px;
    border-bottom: solid 1px #404040;
    border-top: 1px solid #404040;
    background-color: #000;
    margin: 0 30px;
}

#to{
    width: 100%;
}
#to .to-1{
    width: 225px;
    line-height: 45px;
    text-align: center;
    height: 46px;
    display: inline-block;
}
#to a{
    display: block;
    background-color: #404040;
    color: white;
}
.sub{
    width: 100%;
    position: relative;
    display: none;
}
.sub li img{
    width: 100%;
}
#to>li:hover > .sub,#to>li:hover > .sub img{
    display: block;
}
/*游戏专区*/
.link{
    margin-bottom: 16px;
}
.link h2{
    margin-bottom: 18px;
}
.link a{
    font-size: 12px;
    color: white;
    margin: 0 9px;
}
.font-link{
    margin-bottom: 29px;
}
.list-ss li{
    display: inline-block;
}
.list-ss li a{
    color: white;
}
.list-ss li a:hover{
    color: #c7c7c7;
}
.style-link p{
    line-height: 36px;
}
@media (max-width: 890px) {
    .txt{
        width: 100%;
    }
    .ttx{
        width: 100%;
    }
    .ttx img{
        width: 376px;
    }
    #menu-1{
        width: 60%;
    }
    #shi-1 li{
        margin: 0 16px;
    }
    .mar-1{
        width: 700px;
    }
    .login{
        width: 436px;
    }
    .txt p{
        width: 85%;
    }
}
@media (max-width: 768px) {
    .box{
        width: 100%;
    }
    .log{
        display: none;
    }
    .login{
        width: 97%;
    }
    .di-1{
        display: none;
    }
    .box-1{
        padding: 256px 0;
    }
    #cen{
        white-space: nowrap;
    }
}